<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Your Page Title Here :)</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	
	<link rel="stylesheet" href="v2-styles/skeleton.css">
	<link rel="stylesheet" href="v2-styles/layout.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	
		
		<div id="header-fixed">
			<div id="my-menus">
		<div class="container">
		<header class >
			<nav >
				<ul id=navigation>
					<li><a href=""> Portfolio</a></li>
					<li><a href=""> About</a></li>
					<li><a href=""> Blog</a></li>
					<li><a href=""> Contact</a></li>
				</ul>
				<ul id=social>
					<li><a href="" class="social_twitter"> Twitter</a></li>
					<li><a href="" class="social_skype"> Skype</a></li>
					<li><a href="" class="social_linkedin"> Linkedin</a></li>	
					<li><a href="" class="social_github"> Github</a></li>	
					<li><a href="" class="social_google"> GooglePlus</a></li>		
				</ul>
				</nav>
		
		</header>
		</div>
	</div>

	</div>

	</div>
		<div class="container welcome">
			<h2>Hi, I'm Guy Romm and I'm project manager  and technical expert in web-developement. 
				Here you can find out about my  <a href="#!/portfolio">projects</a>, <a href="#">skills </a>and <a href="#">experience</a>. </br>
				</h2>
		
		</div>

<div class="container" >
  <ul id="thumbnails">
  		<li><a href="#"><img src="v2-images/css3-blackjack.png" width="240px" height="240px"></a></li>
  	 	<li><a href="#"><img src="v2-images/malioglasi.png" width="240px" height="240px"></a></li>
    	<li><a href="#"><img src="v2-images/greenie.png" width="240px" height="240px"></a></li>
    	<li><a href="#"><img src="v2-images/bastarbut.png" width="240px" height="240px"></a></li>
    	<li><a href="#"><img src="v2-images/tet.png" width="240px" height="240px"></a></li>
     
  </ul>

 <!--
  <div class="gallery">
  	<div id="work-thumb" syile="opacity:1;">
  		<div id="work-image">
  			<a href="#"> <img class="lazy" src="v2-images/css3-blackjack.png" width="600" height="600" style="visibility: visible; opacity:1;"></a>
  		</div>
  		<div id="work-heading">
  			<h2 class="thumbs-heading"><a href="#">1111</a></h2>
  		</div>
  	</div>

  	<div id="work-thumb" syile="opacity:1;">
		<div id="work-image">
  			<a href="#"> <img src="v2-images/css3-blackjack.png" ></a>
  		</div>
  		<div id="work-heading">
  			<h2 class="thumbs-heading"><a href="#">1111</a></h2>
  		</div>
  	</div>
  	<div id="work-thumb" syile="opacity:1;"></div>
  	<div id="work-thumb" syile="opacity:1;"></div>
  	<div id="work-thumb" syile="opacity:1;"></div>
  </div>
</div>
-->
	<div class="container skills">

		<div class="container portfolio">
		<div><h1 class="center">Things I'm working with</h1></div>

		<div class="one-third column">
			<h2>Skills</h2>
			<ul>
				<li>product research & prototyping</li>
				<li>remote recruitment</li>
				<li>distributed team management</li>
                <li>agile development process</li>
				<li>continuous integration</li>
				<li>continuous deployment</li>
			</ul>
		</div>


		<div class="one-third column">
			<h2>Fields of expertise</h2>
			<ul>
				<li>games & animation</li>
				<li>http client automation</li>
				<li>data aggregation, BI</li>
				<li>backoffice: interfaces & reports</li>
				<li>building a conversion funnel</li>
				<li>SEO</li>
				<li>affiliate systems</li>
				<li>devops: programmatic systems rollout & management</li>
			</ul>
		</div>

		<div class="one-third column">

			<h2>Technologies</h2>
			<ul>
				<li>python: gevent, sqlalchemy</li>
				<li>javascript: backbone, websockets,dom animation</li>
				<li>linux:debian/ubuntu</li>
			</ul>
		</div>
	</div> <!--container skills-->
	<!------>
	<div class="container portfolio">
		<div><h1 class="center">Portfolio<h1></div>
		<div class="portfolio_item">
			<div class="portfolio_desc">
				<h3>Technology research</h3>
				<h4>HTML5, 2011</h4>
				<p>I've done research and <a href="#">published an article</a> with demos on choosing a technology for browser-based game development.</p>
				<a href="#">111.com</a>
			</div>
			<div class="portfolio_image">
				<img src="v2-images/css3-blackjack.png" width="560px">
			</div>
		</div>	

		<div class="portfolio_item">
			<div class="portfolio_desc">
				<h3>search engine in serbia</h3>
				<h4>data aggregation, BI</h4>
				<p><a href="#">Malioglasi.rs</a> is a classifieds search engine in serbia, based on indigenously developed & reusable scraping & parseing technology.</p>
				<a href="#">malioglasi.rs</a>
			</div>
			<div class="portfolio_image">
				<img src="v2-images/malioglasi.png" width="560">
			</div>
		</div>
	</div>



		<div class="container portfolio">
		<div><h1 class="center">Contact<h1></div>
			
		<div class="contact">	<p>Feel free to hit me up at <a href="#">guyromm@gmail.com</a>. </br>

	As need arises, more immediate ways of communication could be established.</p> </div>
		</div>

		<!--
		<div class="contact_form_right">
			<div class="contact_form">
			<!--	<div style="display: none">
				<input type="hidden" name="" value="">
				<input type="hidden" name="" value="">
				<input type="hidden" name="" value="">
				<input type="hidden" name="" value="">
			</div>	-->
		<!--
				<div class="left_col">
					<input type="text" name="name"  placeholder="Name">
					<input type="text" name="email"  placeholder="Email">
					<input type="text" name="phone"  placeholder="Phone">
			
				</div>
			
				<div class="right_col">
					<textarea name="body" class="text_message" placeholder="Text Message" cols="40" rows="10"></textarea>
					<input type="submit"  value="Send">
				</div>
			</div>	-->
		</div>
	
	<!-- container  portfolio-->

	<div class="footer">
		<footer class="fotterInner">
			<p class="legal">©Guy Romm 2013</p>
		</footer>
	</div>


<!-- End Document
================================================== -->
</body>
</html>