<%inherit file="index-he.html" />
<%def name="main_menu()">
<a href="${url.current(content='currently_up_to')}">מעשיי כעת</a> &nbsp; &nbsp; &nbsp; &nbsp;   
<a href="${url.current(content='looking_for')}">מה אני מחפש</a>
</%def>
<%def name="main_content()">
<h2>אודותיי</h2>

<p>
 כהשלכה מכך שנולדתי במחוזות אחרים (העיר קזאן שברוסיה), נתברכתי בדואליות של פרספקטיבות עם התבגרותי בארץ, שתרמה להבנתי את המציאות הלעיתים אבסורדית שסביבי. <br />
אך לכל מטבע שני צדדים, ומאותן הסיבות גם לא הרגשתי שייך, ומסיבה זו בעיקר בשנים האחרונות אני מנהל מסע פעיל למציאת המקום והצורה בהם עלי להיות. לא כ"כ ברור? לא נורא, גם לי עדיין לא.. 
</p>

<p>מגיל צעיר, גיליתי עניין רב במחשבים וטכנולוגיית מידע וכעת, בגיל ${c.myage}, יכול אני להגיד בבטחון שצברתי נסיון רב ויסודי בסדרת תחומים מקצועיים, שסקירתם היא מטרתו המרכזית של אתר זה.
</p>

<p>הנכם מוזמנים לקרוא את הדפים הבאים, כדי להתרשם באם יש קרקע לשיתוף פעולה בינינו.
</p>

<p>
<a href="${url.current(content='skills_and_experience')}">&gt;&gt;&gt;  לסקירה של נסיוני המקצועי</a><br /><a href="${url.current(content='currently_up_to')}">&gt;&gt;&gt; מה מעשיי כרגע</a>

</p>
</%def>
