<%inherit file="index-en.html" />
<%def name="main_content()">
<h1>About me</h1>
<br />
Hello, my name is Guy Romm. Being an Israeli of Russian-Jewish origin presented me with a duality of perspectives early on as I grew up. At that, growing up in Israel, I&#x27;ve never completely assimilated with local culture, and that caused and still is causing me to push the envelope in search of the place and form to be. Doesn't make much sense? No worries, I'm still trying to figure that one out myself..<br />
<br />

From a young age, I have been interested in Computers and Information Technology, and at the age of ${c.myage}, I can confidently say that I've acquired a wide and thorough expertise in a series of professional fields, the presentation of which is the purpose of this website.<br />
<br />
You are welcome to read the following pages of this site to see if there is grounds for a possible collaboration between us.<br />

<br />
<a href="${url.current(content='skills_and_experience')}">&gt;&gt;&gt; Read an overview of my professional experience</a><br />
<a href="${url.current(content='currently_up_to')}">&gt;&gt;&gt; Find out what I am currently doing</a>
</%def>
<%def name="main_menu()">
<a href="${url.current(content='currently_up_to')}">Currently up to</a> &nbsp; &nbsp; &nbsp; &nbsp;   
<a href="${url.current(content='looking_for')}">What I am looking for</a>
</%def>
