<%inherit file="index-en.html" />
<%def name="main_menu()"><a href="${url.current(content='previous_work')}">Previous Work</a></%def>
<%def name="main_content()">
<h1>What I am currently up to</h1>
<br />
<p>After going through a five year career in the Online Gambling industry, I've decided to quit, and as of June 2008, I've been tour cycling through Europe, with the general direction being East.*</p>
<p>While taking the time to enjoy my trip, I haven't put aside my skills and have taken my computer along. The trip is open ended, and the immediate professional goal is to start carrying out projects while on the go. In order to achieve this, I am wildly experimenting with my lifestyle, my two main challenges being connectivity and dependance on electricity..</p>
<p><a href="${url.current(content='looking_for')}">&gt;&gt;&gt; Read on to find out what I am looking for</a></p>
</%def>
