<%inherit file="index-he.html" />
<%def name="main_menu()">
<a href="${url.current(content='previous_work')}">פרויקטים קודמים</a>
</%def>

<%def name="main_content()">
<h1>מעשיי כעת</h1>
<p>
לאחר קריירה בת חמש שנים בתעשיית ההימורים באינטרנט, קיבלתי החלטה לעזוב.  עד מאי 2008 התמקדתי בפיתוח מנוע מתקדם ללוח מודעות חינמי , 
<a href="http://www.tet.co.il/">לוח ט'</a>.
</p>
ביוני 2008 יצאתי ל<a href="http://guyromm.com/images/route.png">מסע אופניים</a> שהחל בפורטוגל, ונמשך כארבעה חודשים עד שהגעתי לים השחור. בהמשך הגעתי עד נובוסיבירסק וחבל אלטאי במעבורת וסדרת רכבות בתוך רוסיה. חזרתי בתחילת דצמבר ארצה דרך טורקיה וקפריסין.
</p>

<p>כרגע אני מתאקלם מחדש בארץ ושוקד על <a href="http://www.bastarbut.com/">חנות מקוונת</a> למותג בסטרבות של אסנת סקובלינסקי.
</p>

<p><a href="${url.current(content='looking_for')}">&gt;&gt;&gt; אל סוג הפרויקטים בהם אני מעוניין</a></p>
</%def>
