                                                                <%inherit file="base-he.html" />
                                      <%def name="title()">גיא רום - פיתוח אתרים עם חיוך!</%def>
                                           <%def name="main_header()">פיתוח אתרים עם חיוך</%def>
                                           <%def name="current_location()">תל-אביב, ישראל</%def>
                                                                       <%def name="main_menu()">
              <a href="${url.current(content='about_me')}">אודותיי</a> &nbsp; &nbsp; &nbsp; &nbsp;
<a href="${url.current(content='skills_and_experience')}">כישורים ונסיון</a> &nbsp; &nbsp; &nbsp; &nbsp;
             <a href="${url.current(content='contact')}">יצירת קשר</a> &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                         </%def>
                                                                    <%def name="main_content()">
         <!--content_start(name:main_content,type:markup)--><h2>ברוכים הבאים ל-GuyRomm.com!</h2>
                                                                                                
<p>מטרתו של האתר היא לספר למבקריו אודותיי, לעדכן אתכם במעשיי בזמן האחרון, ולהפריח רעיונות לשיתוף פעולה אפשרי בינינו בתחום המקצועי.
                                                                                            </p>
                                                                                                
                                                                                          <br />
<a href="${url.current(content='about_me')}">&gt;&gt;&gt;  לסיכום קצרצר הקליקו כאן</a>
<p>דברים ראוים לציון שעשיתי:</p>

<div class='item'>
  <a href="http://goo.gl/ITOFr"><img src="/images/snapshots/css3-blackjack.png" alt="תמונת מסך בלאקג'ק" /></a>
  <div class='descr'>ביצעתי מחקר ו<a href="http://goo.gl/ITOFr">פרסמתי מאמר</a> הכולל הדגמות טכנולוגיות בנושא של בחירת כלים לפיתוח משחקים מבוססי דפדפן.</div>
</div>


<div class='item'>
  <a href="http://www.malioglasi.rs/"><img src="/images/snapshots/malioglasi.png" alt="סקרינשוט של מליאוגלסי" /></a>
  <div class='descr'><a href="http://www.malioglasi.rs/">Malioglasi.rs</a> הנו מנוע חיפוש למודעות בסרביה, המבוסס על טכנולוגיה ייחודית לאיסוף וניתוח תוכן.</div>
</div>

<div class='item'>
<a href='http://www.greenie.co.il/'><img src='/images/snapshots/greenie.png' alt="סקרינשוט גריני" /></a>
<div class='descr'><a href='http://www.greenie.co.il/'>גריני</a> מעודד שליחויות אופניים בישראל</div></div>
 
 <div class='item'>
 <a href='http://www.bastarbut.com/'><img src='/images/snapshots/bastarbut.png' alt="סקרינשוט בסטרבות" /></a>
 <div class='descr'><a href='http://www.bastarbut.com/'>בסטרבות</a> הינה חנות מקוונת למוצרי תרבות פרינג' כגון ספרים וספרי קומיקס.</div></div>

 <div class='item'>
 <a href='/images/route.png'><img src='/images/snapshots/biketrip.png' alt="סקרינשוט מסלול טיול אופניים" /></a>
 <div class='descr'>העברתי את קיץ 2008 בלחצות את אירופה על אופניים.</div></div>

 <div class='item'>
 <a href='http://www.tet.co.il/'><img src='/images/snapshots/tet.png' alt="סקרינשוט לוח ט" /></a>
 <div class='descr'><a href='http://www.tet.co.il/'>לוח ט'</a> הינו לוח מודעות חינמי, מרובה שפות ובעל אינטגרציה לפייסבוק המבוסס על המראה של 
</a> קרייגסליסט<a href='http://www.craigslist.org'/>
 .</div></div>
 
 
 </p><!--content_end(name:main_conten t)-->


                                                                                         </%def>
