<%inherit file="index-he.html" />
<%def name="main_menu()">
</%def>
<%def name="main_content()">
<h1>סוג העבודה בה אני מעוניין</h1>

<p>
עזבתי את תעשיית ההימורים לאחר הבנה שביכולתי לעשות הרבה יותר למען סביבתי, מאשר יצירת תשתיות שמטרתן היחידה הינה לקיחת כספים תמורת שרות, שבלשון המעטה הינו בעיתי.
</p>
<p>
נכון לעתה, אני מתעניין בפרויקטים שמטרתם לעזור לאנשים, להקל על חייהם, לפתור או לקצר מטלות תכופות, או אפילו לעשות את הקיום מהנה טיפונת יותר.</p>

<p>
לא אסכים לעסוק בפרויקטים שמטרתם היחידה הינה כסף, ללא התחשבות בתוצאות לוואי, או שהם בעלי אופי פרזיטי.
דוגמאות טובות הן ספאם ו-SEO.
</p>

<p>לעומת זאת, מיזמים שיווקיים שמטרתם לפתור בעיה אמיתית, לאתר קהל יעד באופן יעיל יותר, ובאופן כללי לחסוך כאב ראש לאנשים בהחלט ברוכים.
</p>

<p>כמו כן, אהיה מוכן לשקול כל פרויקט שאינו שלילי, פוגעני או הרסני מטבעו, כל עוד הוא מעניין והתמורה הולמת.</p>

<p>אם בידיכם רעיון מעניין שאני יכול ליישם, אשמח לשמוע אודותיו. נוכל להפוך אותו למציאות!
</p>

<p><a href="${url.current(content='contact')}"> &gt; &gt; &gt; ליצירת קשר עמי</a></p>
</%def>
