<%inherit file="index-en.html" />
<%def name="main_menu()">&nbsp;</%def>
<%def name="main_content()">
<h1>What kind of work I am looking for</h1>
<br />
<p>I quit working for the Gambling Industry after realizing that I can do so much more for my surrounding world than just creating ways for money to move from one pocket to another.</p>
<p>Currently, I am looking for projects that can assist people, make their life easier, solve common tasks, simplify life or even just make it a tad more enjoyable.</p>
<p>I will turn down projects whose sole purpose is making money in corruptive ways such as spam, SEO and other endevours of parasitical nature.</p>
<p>However, marketing projects that solve a genuine problem, address or pin point a target audience more efficiently, save people a headache, etc. are welcome.</p>
<p>I would also consider projects that don't explicitly or directly have a &quot;positive&quot; value, so long as they are not harmful, are interesting, and the remuneration is worthwhile..</p>

<p>And if you think that you've got a bright idea that I can implement, tell me about it. We can find a way to bring it into existance!</p>
<p><a href="${url.current(content='contact')}">&gt;&gt;&gt; To contact me, click here</a></p>
</%def>
