<%inherit file="index-en.html" />
<%def name="main_menu()">&nbsp</%def>
<%def name="main_content()">
<h1>Previous work</h1>
<br />
<dl> 

<dt><a href="http://www.tet.co.il/">www.tet.co.il</a></dt> <dd>A free, uncommercial, multilingual classifieds website with Facebook integration and other unique qualities.</dd>  

<dt><a href="http://www.redkings.com/">www.redkings.com</a></dt> <dd>A poker website based on the ONGame platform.</dd> 

<dt><a href="http://www.bastarbut.com/">www.bastarbut.com</a></dt> <dd>An online bookstore specializing in Indie titles and fringe culture.</dd></dd>

</dl>
<p>These are just a tasting, however. For various reasons I am restricted from openly showing other work.</p>
</%def>
