<%inherit file="index-he.html" />
<%def name="main_menu()">
</%def>
<%def name="main_content()">
<h1>עבודות קודמות</h1>
<dt><a href="http://www.tet.co.il/">www.tet.co.il</a></dt> <dd>לוח מודעות חינמי התומך בריבוי שפות, אינטגרציה עם פייסבוק ובעל ומגוון תכונות מתקדמות אחרות.</dd>  

<dt><a href="http://www.redkings.com/">www.redkings.com</a></dt> <dd>אתר פוקר המבוסס על פלטפורמת ONGame.</dd> 

<dt><a href="http://www.bastarbut.com/">www.bastarbut.com</a></dt> <dd>חנות ספרים מקוונת המתמחה בתחום האינדי ותרבות הפרינג'</dd></dd>

</dl>
<p>קישורים אלו הם טעימה. מסיבות שונות אני מנוע מלפרסם עבודות אחרות.</p>
</%def>
